<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="loginMember">
	SELECT 
	        MEM_NO
	      , MEM_ID
	      , MEM_PWD
	      , MEM_NAME
          , NICKNAME
          , EMAIL
	      , PHONE
	      , ENROLL_DATE
	      , STATUS
          , GRADE_NO
          , TOTAL_SCORE
	FROM MEMBER
	WHERE MEM_ID = ?
	AND MEM_PWD = ?
	AND STATUS = 'U'
</entry>

	<entry key="insertMember">
			INSERT
				 INTO MEMBER
				 (
				   MEM_NO
				 , MEM_ID
				 , MEM_PWD
				 , MEM_NAME
				 , NICKNAME
				 , EMAIL
				 , PHONE
				 )
				 VALUES
				 (
				   SEQ_MNO.NEXTVAL
				 , ?
				 , ?
				 , ?
				 , ?
				 , ?
				 , ?
				 )
</entry>

<entry key="updateMember">
	UPDATE MEMBER
	   SET MEM_NAME = ?
         , NICKNAME = ?
	     , EMAIL = ?
	     , PHONE = ?
	     , ENROLL_DATE = SYSDATE
	 WHERE MEM_ID = ?
</entry>
<entry key="selectMember">
			SELECT
			       MEM_NO
			     , MEM_ID
			     , MEM_PWD
			     , MEM_NAME
			     , NICKNAME
			     , EMAIL
			     , PHONE
			     , ENROLL_DATE
			     , STATUS
			     , GRADE_NO
			     , TOTAL_SCORE
			  FROM MEMBER
			 WHERE MEM_ID = ?
			 AND STATUS = 'U'
</entry>

<entry key="updatePwd">
			UPDATE MEMBER
			   SET MEM_PWD = ?
			     , ENROLL_DATE = SYSDATE
			 WHERE MEM_ID = ?
			   AND MEM_PWD = ?
</entry>

<entry key="deleteMember">
   	   DELETE
		  FROM MEMBER
		 WHERE MEM_ID = ?
		   AND MEM_PWD = ?
</entry>
</properties>