<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="loginMember">
	SELECT 
	        MEM_NO
	      , MEM_ID
	      , MEM_PWD
	      , MEM_NAME
          , NICKNAME
          , EMAIL
	      , PHONE
	      , ENROLL_DATE
	      , STATUS
          , GRADE_NO
          , TOTAL_SCORE
	FROM MEMBER
	WHERE MEM_ID = ?
	AND MEM_PWD = ?
	AND STATUS = 'U'
</entry>

<entry key="insertMember">
		INSERT
			 INTO MEMBER
			 (
			   MEM_NO
			 , MEM_ID
			 , MEM_PWD
			 , MEM_NAME
			 , NICKNAME
			 , PHONE
			 , EMAIL
			 )
			 VALUES
			 (
			   SEQ_MNO.NEXTVAL
			 , ?
			 , ?
			 , ?
			 , ?
			 , ?
			 , ?
			 )
</entry>
</properties>