<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectListCount">
	SELECT 
	       COUNT(*) "count"
	  FROM REVIEW
	 WHERE STATUS = 'Y'
</entry>

<entry key="selectList">
	SELECT *
	  FROM (
	    SELECT ROWNUM "RNUM", A.*
	  FROM (
	    SELECT
	           R.REVIEW_NO
	         , MEM_ID
	         , REVIEW_TITLE
	         , COUNT
	         , CREATE_DATE
             , SCORE
             , FILE_PATH || '/' || UPDATE_NAME "TITLEIMG"
	      FROM REVIEW R
          JOIN IMAGE I ON (R.REVIEW_NO = I.BOARD_NO)
          JOIN MEMBER USING (MEM_NO)
	     WHERE R.STATUS = 'Y'
	       AND I.BOARD_TYPE = 2
	     ORDER 
	        BY REVIEW_NO DESC
	        ) A
	    )
	    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="insertReview">
	INSERT
	  INTO REVIEW
	     (
	       REVIEW_NO
	     , MEM_NO
         , CELL_ID
         , REVIEW_TITLE
         , REVIEW_CONTENT
	     , SCORE
         , BOARD_TYPE
	     )
	VALUES
	     (
	       SEQ_RNO.NEXTVAL
	     , ?
         , ?
         , ?
	     , ?
	     , ?
	     , 2
	     )
</entry>

<entry key="insertImage">
	INSERT
	  INTO IMAGE
	     (
	       FILE_NO
	     , BOARD_NO 
	     , ORIGIN_NAME
	     , UPDATE_NAME
	     , FILE_PATH
	     , BOARD_TYPE
	     )
	VALUES
	     (
	       SEQ_INO.NEXTVAL
	     , SEQ_RNO.CURRVAL
	     , ?
	     , ?
	     , ?
	     , 2
	     )
</entry>

<entry key="increaseCount">
	UPDATE REVIEW
	   SET COUNT = COUNT + 1
	 WHERE REVIEW_NO = ?
	   AND STATUS = 'Y'
</entry>

<entry key="selectReview">
	SELECT
           REVIEW_NO
         , MEM_ID
         , CELL_ID
	     , REVIEW_TITLE
	     , REVIEW_CONTENT
	     , COUNT
	     , CREATE_DATE
	     , SCORE
         , IMG_PATH1
	  FROM REVIEW
      JOIN MEMBER USING (MEM_NO)
	 WHERE REVIEW_NO = ?
</entry>

<entry key="selectImage">
	SELECT
	       FILE_NO
	     , ORIGIN_NAME
	     , UPDATE_NAME
	     , FILE_PATH || '/' || UPDATE_NAME "TITLEIMG"
	  FROM IMAGE I
      JOIN REVIEW R ON (R.REVIEW_NO = I.BOARD_NO)
     WHERE I.BOARD_NO = ?
	   AND I.BOARD_TYPE = 2
</entry>

<entry key="deletelist">
	UPDATE REVIEW
	   SET STATUS = 'N'
	 WHERE REVIEW_NO = ?
</entry>

<entry key="updateReview">
	UPDATE 
	       REVIEW
	   SET REVIEW_TITLE = ?
	     , REVIEW_CONTENT = ?
	     , CELL_ID = ?
	     , SCORE = ?
	 WHERE REVIEW_NO = ?
</entry>

<entry key="updateImage">
	UPDATE
	       IMAGE
	   SET ORIGIN_NAME = ?
	     , UPDATE_NAME = ?
	     , FILE_PATH = ?
	 WHERE BOARD_NO = ?
</entry>

<entry key="insertNewImage">
	INSERT
	  INTO IMAGE
	     (
	       FILE_NO
	     , BOARD_NO 
	     , ORIGIN_NAME
	     , UPDATE_NAME
	     , FILE_PATH
	     , BOARD_TYPE
	     )
	VALUES
	     (
	       SEQ_INO.NEXTVAL
	     , ?
	     , ?
	     , ?
	     , ?
	     , 2
	     )
</entry>

<entry key="updateScore">
UPDATE
       MEMBER
   SET TOTAL_SCORE = TOTAL_SCORE + ?
WHERE MEM_ID = ?
</entry>

<entry key="dateList">
	SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	  FROM (
	    SELECT
	           REVIEW_NO
	         , MEM_ID
	         , REVIEW_TITLE
	         , COUNT
	         , CREATE_DATE
             , SCORE
             , FILE_PATH || '/' || UPDATE_NAME "TITLEIMG"
	      FROM REVIEW R
          JOIN IMAGE I ON (R.REVIEW_NO = I.BOARD_NO)
          JOIN MEMBER USING (MEM_NO)
	     WHERE R.STATUS = 'Y'
	       AND I.BOARD_TYPE = 2
	     ORDER 
	        BY CREATE_DATE DESC
	        ) A
	    )
	    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="countList">
	SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	  FROM (
	    SELECT
	           REVIEW_NO
	         , MEM_ID
	         , REVIEW_TITLE
	         , COUNT
	         , CREATE_DATE
             , SCORE
             , FILE_PATH || '/' || UPDATE_NAME "TITLEIMG"
	      FROM REVIEW R
          JOIN IMAGE I ON (R.REVIEW_NO = I.BOARD_NO)
          JOIN MEMBER USING (MEM_NO)
	     WHERE R.STATUS = 'Y'
	       AND I.BOARD_TYPE = 2
	     ORDER 
	        BY COUNT DESC
	        ) A
	    )
	    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="scoreList">
	SELECT *
	  FROM (
	    SELECT ROWNUM RNUM, A.*
	  FROM (
	    SELECT
	           REVIEW_NO
	         , MEM_ID
	         , REVIEW_TITLE
	         , COUNT
	         , CREATE_DATE
             , SCORE
             , FILE_PATH || '/' || UPDATE_NAME "TITLEIMG"
	      FROM REVIEW R
          JOIN IMAGE I ON (R.REVIEW_NO = I.BOARD_NO)
          JOIN MEMBER USING (MEM_NO)
	     WHERE R.STATUS = 'Y'
	       AND I.BOARD_TYPE = 2
	     ORDER 
	        BY SCORE DESC, CREATE_DATE DESC
	        ) A
	    )
	    WHERE RNUM BETWEEN ? AND ?
</entry>

<entry key="selectReplyList">
	SELECT 
	       REPLY_NO
	     , REPLY_CONTENT
	     , MEM_ID
	     , TO_CHAR(CREATE_DATE, 'YY/MM/DD HH:MI') "CREATE_DATE"
	  FROM REPLY R
	  JOIN MEMBER ON (REPLY_WRITER = MEM_NO)
	 WHERE R.STATUS = 'Y'
	   AND REF_BNO = ?
	 ORDER
	    BY REPLY_NO DESC
</entry>

<entry key="insertReply">
	INSERT
	  INTO REPLY
	     (
	       REPLY_NO
	     , REPLY_CONTENT
	     , REF_BNO
	     , REPLY_WRITER
	     )
	VALUES
	     (
	       SEQ_RENO.NEXTVAL
	     , ?
	     , ?
	     , ?
	     )
</entry>
</properties>